@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        ASP.NET Core running in Docker Container deployed to Kubernetes Cluster in Azure Cloud.
    </p>
</div>
